<!DOCTYPE html>
<html>
<head>
    <title>D3 Visualization</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <script>
        // Load the JSON data
        d3.json("data.json").then(function(data) {
            console.log(data);
        });
    </script>
</body>
</html>
